In [15]:
from overture_to_arcgis.utils._arcgis import get_overture_taxonomy_dataframe, get_overture_taxonomy_category_field_max_lengths

In [3]:
taxonomy_df = get_overture_taxonomy_dataframe().set_index("category_code", inplace=False)

taxonomy_df

                                                      overture_taxonomy  ...  category_06
category_code                                                            ...
eat_and_drink                                           [eat_and_drink]  ...         None
restaurant                                  [eat_and_drink, restaurant]  ...         None
afghan_restaurant        [eat_and_drink, restaurant, afghan_restaurant]  ...         None
african_restaurant      [eat_and_drink, restaurant, african_restaurant]  ...         None
ethiopian_restaurant  [eat_and_drink, restaurant, african_restaurant...  ...         None
...                                                                 ...  ...          ...
quay                                    [structure_and_geography, quay]  ...         None
river                                  [structure_and_geography, river]  ...         None
skyscraper                        [structure_and_geography, skyscraper]  ...         None
tower                                  [structure_and_geography, tower]  ...         None
weir                                    [structure_and_geography, weir]  ...         None

[2117 rows x 8 columns]

In [7]:
taxonomy_df = taxonomy_df.loc[:,[col for col in taxonomy_df.columns if col.startswith("category_")]]

taxonomy_df

                                  category_01  ... category_06
category_code                                  ...
eat_and_drink                   eat_and_drink  ...        None
restaurant                      eat_and_drink  ...        None
afghan_restaurant               eat_and_drink  ...        None
african_restaurant              eat_and_drink  ...        None
ethiopian_restaurant            eat_and_drink  ...        None
...                                       ...  ...         ...
quay                  structure_and_geography  ...        None
river                 structure_and_geography  ...        None
skyscraper            structure_and_geography  ...        None
tower                 structure_and_geography  ...        None
weir                  structure_and_geography  ...        None

[2117 rows x 6 columns]

In [8]:
category = "restaurant"

In [12]:
taxonomy_row = taxonomy_df.loc[category]

In [13]:
taxonomy_row.empty

False

In [16]:
max_lengths = get_overture_taxonomy_category_field_max_lengths(taxonomy_df)

max_lengths

{'category_01': 37,
 'category_02': 41,
 'category_03': 52,
 'category_04': 55,
 'category_05': 38,
 'category_06': 26}

In [17]:
for idx, col in enumerate(max_lengths.keys()):
    break

In [19]:
taxonomy_row.loc[col]

'eat_and_drink'